
  body {
    font-family:sans-serif;
    /* background-image:url(https://www.labnol.org/images/2004/currencysymbols.jpg); */
    /* background-position: center; */
    background-repeat: no-repeat;
    font-size: medium;
  }

 .form{
    width: 500px;
    line-height: 1.5;
    font-family:cursive;
    font-style: italic;
    font-size: large;
    letter-spacing: 1px;
    background-color: whitesmoke;
    border: 5px solid rgb(32, 36, 32);
    padding: 20px;
    margin-left: 430px;
    color:black;
    text-shadow: 2px 2px 4px #7a6868;
  }

  ul.a{
    list-style-type: square;
    list-style-position: inside;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    font-family: cursive;
    /* border: 5px solid black;
    background-color: whitesmoke;
    padding: 10px 20px;
    width: 500px;
    margin-left: 430px; */
  }

  .h3{
    font-family:cursive;
    color: rgb(85, 4, 4);
    border-color:2px solid black;
  }
  
  .h2{
    font-family:cursive;
    color: rgb(133, 8, 8);
    border-color:2px solid black;
    text-align: center;
  }

  .h1{
    font-family:cursive;
    color: rgb(129, 7, 7);
    text-shadow: 2px 2px 4px #7a6868;
  }

  .btn {
    padding: 7px 9px;
    background: rgb(49, 37, 37);
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 10px;
    cursor: pointer;
    font-family: cursive;
  }
  
  .btn:hover {
    background: #444;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
  }

  .btn1 {
    padding: 10px 15px;
    background: white;
    border: 3px solid rgb(31, 11, 11);
    color: rgb(71, 5, 5);
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 50%;
    font-size: larger;
    box-shadow: 0 10px 20px 0 rgba(248, 4, 4, 0.2), 0 10px 20px 0 rgba(238, 6, 6, 0.19);
    margin-left: 80%;
  }

  .btn1:hover {
    background: #9c8e8e;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 12px 16px 0 black,0 17px 50px 0 black;
  }

  .btn2{
    padding: 0 8px;
    background: rgb(179, 174, 174);
    color: black;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 80%;
    cursor: pointer;
    font-family: cursive;
    border: 3px solid rgb(31, 11, 11)
  }

  .btn2:hover {
    background: #9c8e8e;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btn3{
    padding: 0 8px;
    background: rgb(179, 174, 174);
    color: black;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 10px;
    cursor: pointer;
    font-family: cursive;
    border: 3px solid rgb(31, 11, 11)
  }


  .btn3:hover {
    background: #9c8e8e;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  input{
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }

  select {
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    font-family:'Times New Roman', Times, serif
  }
